body {
    font-family: sans-serif;
    background-color: rgb(2, 13, 30);
    color: beige;
    
   
}

.banner {
    
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    border-radius: 10px;
}

header {

    display: flex;
    
    
    padding: 20px 40px;
    color: white;
    text-align: center;
    
}

header .nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 60px;
   
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    
}

nav a:hover {
    color: rgb(255, 0, 0);

}

.logo img {
    width: 80px;
    height: 80px;
}

main a{
    padding: 5px;
    border-radius: 10px;
    color: black;
    background-color: rgb(76, 98, 128);
    width: 200px;
    display: block;
    margin: auto;
    

}

.titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background-color:rgb(50, 66, 87);
    
    color: black;
    text-align: center;
}

.sobre {
    
   
    height: 200px;
    width: 800px;
    background-color: rgb(50, 66, 87);
    

    text-align: center;
    margin: auto;
    border-radius: 10px;
    border: 3px solid black; 
    padding: 15px;
    margin-top: 50px;
}



.produto{
    width: 380;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid black;
    padding: 15px;
    color: black;
   
    margin: 10px;
  
  
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    jus
}

img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
}



.produto h2{
    text-align: center;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: auto;
    background-color: rgb(161, 161, 244);
    border-radius: 10px;
   
}

.banner h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    


}












